<% @groups.each do |g| %>
   <div class="heading"> <%=g.businessgroup%> </div>
        <ul class="api_list">
	<%Api.find(:all, :conditions => {:businessgroup => g.businessgroup}).each do |a| %>
                <li>
                  <%=link_to(a.apiname, :controller => "apis", :action => "show", :id => a.id)%><br/>
                  <%=link_to(a.url, :controller => "apis", :action => "show", :id => a.id)%><br/>
                  <%=a.description%>
                </li>
	<% end %>	
        </ul>
<% end %>




