<% @groups.each do |g| %>
   <div class="heading"> <%=g.businessgroup%> </div>
	<%Api.find(:all, :conditions => {:businessgroup => g.businessgroup}).each do |a| %>
		<ul>
			<li><%=link_to(a.url, :controller => "apis", :action => "show", :id => a.id)%></li>
			<li>
				<ul>
					<li><%=a.description%></li>
				</ul>
			</li>
  		</ul>
	<% end %>	
<% end %>




