<h2>Product List</h2>
	<ul>
		<% @gazetteer_products.each do |product| %>
			<%@prodID = product[:product_line_1] + '-' + product[:service_description] %>
			<li><a href='/products/<%=@prodID%>'><%=@prodID%></a></li>
		<% end %>
	</ul>

